[submodule "kensuiou-nextjs"]
	path = kensuiou-nextjs
	url = git@github.com:ballfos/kensuiou-nextjs.git
	branch = main
[submodule "kensuiou-localserver"]
	path = kensuiou-localserver
	url = git@github.com:ballfos/kensuiou-localserver.git
	branch = main
