[submodule "kensuiou-nextjs"]
	path = kensuiou-nextjs
	url = git@github.com:ballfos/kensuiou-nextjs.git
[submodule "kensuiou-local"]
	path = kensuiou-local
	url = git@github.com:ballfos/kensuiou-local.git
